/* font-family: 'Special Elite', cursive; */

* {
  color: rgba(51, 50, 45, 0.825);
}

.main-container > div {
  border: 1px solid rgb(246, 245, 245)
}

.upper-container {
  background-image: url(./bg-texture.jpg);
  text-align: center;
  height: 40%;
  width: 100%;
}


.lower-container {
  background-color: rgb(246, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

.lower-children {
  width: 20%;
  height: 70%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

.head-boards {
  height: 55px;
}

#a {
  background-color: #EBBA6D;
}

#b {
  background-color: #6B6151;
}

#c {
  background-color: #B89254;
}

#header {
  font-size: 35px;
  margin-top: 15%;
}

.title {
  font-size: 45px;
  text-align: center;
}

h1 {
  font-family: 'Special Elite', cursive;
  
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 598px) {
  #header {
    font-size: 25px;
    margin-top: 57%;
    margin-left: 55%;
  }

  .main-container {
    height: fit-content;
  }

  .upper-container {
    background-image: url(./bg-texture-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }

  .lower-container {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .lower-children {
    padding: 50px;
    width: 90%;
    height: 300px;
  }

  #a {
    background-color: #F3C69E;
  }
  
  #b {
    background-color: #F4A056;
  }
  
  #c {
    background-color: #BF9C7C;
  }

  p {
    padding: 10px;
  }
}
